
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

img {
    width:  70px;
    height: 70px;
} 

.weatherContainer {
    width: 500px; 
  }
  
  .weatherDetail {
    width: 100%;
  }
  
.wrap {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: flex-start;
}


